body {
  font-family: "Manrope", sans-serif;
  background-color: rgb(245, 245, 245);
}
.container {
  margin: 0 auto;
  max-width: 1920px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(235, 240, 250, 1);
  margin: 36px 40px;
  border-radius: 10px;
  height: 455px;
}

.main__descr {
  max-width: 538px;
  margin-left: 36px;
}

.main__descr-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  color: rgba(31, 66, 132, 1);
}

.main__descr-text {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(114, 114, 114, 1);
}

.main__descr-button {
  width: 341px;
  height: 68px;
  position: relative;
  border-radius: 60px;
  background: rgba(36, 76, 152, 1);
  color: rgb(255, 255, 255);
  margin-top: 15px;
  padding-left: 32px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  border: none;
  cursor: pointer;
}

.main__descr-button::after {
  position: absolute;
  right: 12px;
  top: 15px;
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url("/img/arrow-btn.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.main__img {
  background-image: url("/img/main-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;

  width: 910px;
  height: 456px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main__img img {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 4px;
}

.form {
  width: 500px;
  background: rgba(235, 240, 250, 1);
}

.form__container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgba(240, 244, 252, 1);
  position: relative;
}

.login__form {
  display: flex;
  flex-direction: column;
  margin: 80px 24px 24px 24px;
}

.login__form h2 {
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  color: rgba(50, 50, 50, 1);
}

.form__group {
  display: flex;
  flex-direction: column;
}
.form__group input {
  height: 73px;
  padding-left: 24px;
  border-radius: 10px;
  border: none;
  background: rgba(215, 226, 246, 1);
}
.form__group input:last-child {
  margin-top: 4px;
}

.form__group input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: rgba(31, 66, 132, 1);
}

.checkbox__group {
  flex-direction: row;
  align-items: center;
}

.checkbox__group label {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(50, 50, 50, 1);
  margin-left: 14px;
}

.forgot__password {
  text-decoration: none;
  margin-bottom: 29px;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.32px;
  color: rgba(36, 76, 152, 1);
}

.forgot__password:hover {
  text-decoration: underline;
}

.button__group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  color: rgba(36, 76, 152, 1);
  background-color: inherit;
  cursor: pointer;
  text-align: center;
  height: 65px;
  border-radius: 4px;
  border: 2px solid;
}

.btn:hover {
  background: rgba(36, 76, 152, 1);
  color: rgb(255, 255, 255);
}

.close__modal-container {
  position: absolute;
  top: 24px;
  right: 44px;
}
.close__modal-btn {
  width: 52px;
  height: 52px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background-color: white;
}
.close__modal-btn:before {
  content: "+";
  color: rgb(0, 0, 0);
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: 0px;
  left: 12px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.close__modal-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #337ab7;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
}
